@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

/* ================================= for monitors =========================================================================== */
@media(min-width : 1281px)
{

    .container {
        min-width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg,#153677,#4e085f);
        padding: 1vh;
    }

    .todo-app {
        width: 50vw;
        height: 60vh;
        background: #fff;
        margin: 5vh auto;
        padding : 1vh auto;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    form {
        text-align: center;
    }

    form input[type="text"] {
        width: 40vw;
        padding: 1vh 0.5vw 1vh 3vw;
        border : 0.5px solid black;
        border-radius: 1vh;
        outline: none;
        background-color: rgb(224, 221, 221);
        border: none;
    }

    form input[type="submit"]{
        margin: 4vh 3vw;
        padding: 0.8vh 3vw;
        background-color: aquamarine;
        border: none;
        border-radius: 1vh;
    }

    .todo-app h1{
        font-size: 1.2rem;
        text-align: center;
    }

    img {
        max-width: 5vw;
        margin: 0 auto;
    }

}

/* ================================= for laptops =========================================================================== */
@media(max-width : 1280px)
{

    .container {
        min-width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg,#153677,#4e085f);
        padding: 1vh;
    }

    .todo-app {
        width: 50vw;
        height: 60vh;
        background: #fff;
        margin: 5vh auto;
        padding : 1vh auto;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    form {
        text-align: center;
    }

    form input[type="text"] {
        width: 40vw;
        padding: 1vh 0.5vw 1vh 3vw;
        border : 0.5px solid black;
        border-radius: 1vh;
        background-color: rgb(224, 221, 221);
        border: none;
    }

    form input[type="submit"]{
        margin: 4vh 3vw;
        padding: 0.8vh 3vw;
        background-color: aquamarine;
        border: none;
        border-radius: 1vh;
    }

    .todo-app h1{
        font-size: 1.2rem;
        text-align: center;
    }

    img {
        max-width: 5vw;
        margin: 0 auto;
    }

}

/* ================================= for tablets ===========================================================================  */
@media(max-width : 820px)
{

    .container {
        min-width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg,#153677,#4e085f);
        padding: 1vh;
    }

    .todo-app {
        width: 90vw;
        height: 40vh;
        background: #fff;
        margin: 20vh auto;
        padding : 4vh auto;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    form {
        text-align: center;
    }

    form input[type="text"] {
        width: 80vw;
        padding: 1vh 0.5vw 1vh 3vw;
        border : 0.5px solid black;
        border-radius: 1vh;
        background-color: rgb(224, 221, 221);
        border: none;
    }

    form input[type="submit"]{
        margin: 3vh 3vw;
        padding: 0.8vh 3vw;
        background-color: aquamarine;
        border: none;
        border-radius: 1vh;
    }

    .todo-app h1{
        font-size: 1.2rem;
        text-align: center;
    }

    img {
        max-width: 15vw;
        margin: 0 auto;
    }

}


/* ==================== for smartphones ======================================================================= */
@media(max-width : 600px)
{

    .container {
        min-width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg,#153677,#4e085f);
        padding: 1vh;
    }

    .todo-app {
        width: 90vw;
        min-height: 30vh;
        background: #fff;
        margin: 5vh auto;
        padding : 4vh auto;
        border-radius: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    form {
        text-align: center;
    }

    form input[type="text"] {
        width: 80vw;
        padding: 1vh 0.5vw 1vh 3vw;
        border : 0.5px solid black;
        border-radius: 1vh;
        background-color: rgb(224, 221, 221);
        border: none;
    }

    form input[type="submit"]{
        margin: 3vh 3vw;
        padding: 0.8vh 3vw;
        background-color: aquamarine;
        border: none;
        border-radius: 1vh;
    }

    .todo-app h1{
        font-size: 1.2rem;
        text-align: center;
    }

    img {
        max-width: 15vw;
        margin: 0 auto;
    }

    .todo-list {
        width: 90vw;
        min-height: 40vh;
        background: #fff;
        margin: 2vh auto;
        padding : 2vh 8vw;
        border-radius: 2vh;
    }

    .todo-list ul li {
        position: relative;
        list-style : none;
        user-select: none;
        cursor: pointer;
    }

    .todo-list ul li::before{
        content: '';
        position: absolute;
        height: 1.5vh;
        width: 1.5vw;
        border-radius: 50%;
        border: 1vh solid black;
        top:1vh;
        left : 0.1vw
        /* background-color: black; */
        /* background-size: cover; */

    }

}

